<%-include('header');-%>
<body>
    <%if(display=='edit'){%>
        <form method="post" action="/">
            <%for(var i=0;i<ingList.length;i++) {%>
                <input type="checkbox" id="<%=("item"+i)%>" name='value[]'  value=<%=ingList[i]%>>
                
                <label for="<%=("item"+i)%>"> <%=ingList[i]%></label>
                <br>
            <%}%>  
            <br>
            <button name="button" type="submit" value="remove-item" class="btn btn-dark btn-sm">remove</button>
        </form>
    <%}else{%>
        <ul>
            <%for(var i=0;i<ingList.length;i++) {%>
                <li><%=ingList[i]%></li>
            <%}%>
        </ul>
        <br>
        <form method="post" action="/">
            <input type="text" id="ingredient" name="ingredient" placeholder="add ingredient">
            <button name="button" type="submit" value="add" class="btn btn-dark btn-sm">add</button>
            <button name="button" type="submit" value="remove" class="btn btn-dark btn-sm">remove</button>
            <button name="button" type="submit" value="get recipe" class="btn btn-dark btn-sm">GET Recipe</button>
            
        </form>
    <%}%>
   
    
    
<%for(var i=0;i<data.length;i++){%>
    <div class="card" style="width: 18rem;">
        <img src=<%=data[i].image%> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=data[i].title%></h5>
          <form method="post" action="/">
            <button name="button" type="submit" value="<%=data[i].id%>" class="btn btn-dark btn-sm">Steps</button>
          </form>
        </div>
    </div>
<%}%>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>